<div class='container-fluid'>
  <div class='container-lg'>
    <div class='col'>
      <h1 class='text-left mb-5'>Hi there, I'm Jake</h1>
      <p class='main-content mb-5'>I am an experienced Ruby on Rails web developer with a passion for crafting exceptional digital experiences. With over 6+ years of professional experience, I have honed my skills in web development and have a proven track record of delivering robust and user-friendly applications.Throughout my career, I have had the privilege of working at Amazon in the Learning and Talent Management organization, where I successfully owned and managed multiple internal projects. Being part of a fully remote team for the past 4 years, I have developed strong remote working capabilities, ensuring effective collaboration and delivering results.  One of my core strengths lies in my customer-first focus. I take pride in understanding and advocating for the needs of users, ensuring that the solutions I develop not only meet their requirements but also exceed their expectations. My ability to bridge the technical communication gap allows me to gather requirements, conduct UX testing, and provide exceptional customer support.</p>
      <p class='main-content mb-5'>This portfolio will exist as a continuing example of my capabilities as a Ruby on Rails web developer.  I will be making efforts to have consistent updates demonstrating new integrations and developments that I am working with.  Some things may be broken upon visiting, but as I continue to learn and experiment, I will use these opportunities to grow my skill-set.</p>
      <p class='main-content'>As you explore this website, you will find a showcase of examples that highlight my technical expertise, attention to detail, and commitment to delivering outstanding results. I am excited about the opportunity to collaborate on innovative projects and contribute my skills to make a meaningful impact.  Thank you for visiting my portfolio, and I look forward to connecting with you to discuss potential collaborations and how I can help bring your ideas to life.</p>
    </div>
  </div>
</div>
  

